input {
    border: 1px solid gray;
    margin: 24px 0 24px 300px;
    padding: 8px 8px;
    width: 508px;
    border-radius: 8px;
}

.create-product {
    width: 100%;
}

label {
    color: #344054;
    font-size: 16px;
    font-weight: 500;

}

.submit-button{
    width: fit-content;
}